<h1>DETALLE DE LIBRO</h1>

<table>
    <tr>
        <td>Código:</td>
        <td>{{libro.id}}</td>
    </tr>
    <tr>
        <td>Nombre:</td>
        <td>{{libro.nombre}}</td>
    </tr>
    <tr>
        <td>Autor:</td>
        <td>{{libro.autor}}</td>
    </tr>
    <tr>
        <td>Estado:</td>
        <td>{{libro.estado}}</td>
    </tr>
</table>

<a href="/">VOLVER</a>